CLICKHOUSE_HOST=localhost
CLICKHOUSE_PORT=8123
CLICKHOUSE_USER=default
CLICKHOUSE_PASSWORD=
CLICKHOUSE_DATABASE=stock_analytics

ES_HOST=localhost
ES_PORT=9200

KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_TOPIC=stock_trades

# Use absolute paths on your machine (examples below for Janvi's Mac)
DELTA_RAW_TRADES_PATH=/Users/janvichitroda/Documents/Janvi/NEU/Kaizen/Data_Engineering_Portfolio/kafka-spark-streaming-pipeline/data/delta/raw_trades
DELTA_VWAP_1MIN_PATH=/Users/janvichitroda/Documents/Janvi/NEU/Kaizen/Data_Engineering_Portfolio/kafka-spark-streaming-pipeline/data/delta/vwap_1min
COMPANY_METADATA_CSV=/Users/janvichitroda/Documents/Janvi/NEU/Kaizen/Data_Engineering_Portfolio/clickhouse-analytics-service/data/seeds/company_metadata.csv
